body {margin: 30px; line-height: 1; max-width: px ; margin-left: auto; margin-right: auto;}

   body{         
h1 {
	
    line-height: 0.5;
    text-align: center;
}

h3{ line-height: 1 }

b {
    
}
  body {
      background-color: #87CEEB; 
      font-family: Arial, sans-serif;
    }

    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
    }

    th, td {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #CEAF81;
      color: white;
    }

    td {
      background-color:#CFA56F ;
    }

